<html>
    <head>
        <title>Total</title>
        <style>
            body {
    margin: 0;
    background-color: rgb(16, 11, 16);
}

.container {
    background-color: rgb(41, 213, 202);
    width: 300px;
    padding: 30px;
    border: 5px dashed rgb(226, 35, 95);

    margin: 100px auto;  
    text-align: center;
}
.container h1{
    color:blue;
}
.container h4{
    color:green;
}
        </style>
    </head>
    <body>

        <div class="container">
            <h1>TOTAL</h1>
            <h4>SATHYA PRIYAN G(25018768)</h4>
            <form method="POST">
            {% csrf_token %}
            <label>Price</label>
            <input type="text" name="Price" value="{{price}}">
            <br>
            <br>
            <label>GST</label>
            <input type="text" name="GST" value="{{gst}}">
            <br>
            <br>
            <button>Calculate</button>
            <br>
            <br>
            <label>Total price</label>
            <input type="text" name="Total" value="{{total}}">
            </form>
        </div>
    </body>
</html>